@import "tailwindcss";


body{
    font-family: "Montserrat";
}
.coustom{
    height: 70vh;
}
.footer{
    background-color: #404040;
}

/* HTML: <div class="loader"></div> */
.loader {
    width: 45px;
    aspect-ratio: 1;
    margin: 20px;
    --c: no-repeat linear-gradient(#404040 0 0);
    background: 
      var(--c) 0%   50%,
      var(--c) 50%  50%,
      var(--c) 100% 50%;
    background-size: 20% 100%;
    animation: l1 1s infinite linear;
  }
  @keyframes l1 {
    0%  {background-size: 20% 100%,20% 100%,20% 100%}
    33% {background-size: 20% 10% ,20% 100%,20% 100%}
    50% {background-size: 20% 100%,20% 10% ,20% 100%}
    66% {background-size: 20% 100%,20% 100%,20% 10% }
    100%{background-size: 20% 100%,20% 100%,20% 100%}
  }


  
.search-input-container {
    transition: height 1s ease;
    height: 0;
  }
  
  .fade-in {
    animation: fadeIn 0.5s forwards;
  }
  
  .fade-out {
    animation: fadeOut 0.5s forwards;
  }
  
  @keyframes fadeIn {
    from {
      height: 0;
    }
    to {
      height: 200px;
    }
  }
  
  @keyframes fadeOut {
    from {
      height: 200px;
    }
    to {
      height: 0;
    }
  }
  
  .image-size {
    width: 100%;
    object-fit: cover; 
}
